<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Pet Clinic</title>
</head>
<body>
	<h1 th:text="'Owners List'">Owners List</h1>
	<table>
		<thead>
		<tr>
			<th>ID</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="owner : ${owners}">
			<td th:text="${owner.id}">id</td>
			<td th:text="${owner.firstName}">first_name</td>
			<td th:text="${owner.lastName}">last_name</td>
		</tr>
		</tbody>
	</table>
</body>
</html>